body {
  display: table;
  margin: auto;
}

body > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
}

label {
  position: inherit !important;
}

#search-and-favs {
  min-width: 200px;
  padding-top: 16px;
}

#favoritesList {
  font-size: 110%;
}

button {
  float: right;
}
