body {
  display: table;
  margin: auto;
  max-width: 500px;
  padding: 8px;
}

body > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
}

/* TO REMOVE, JUST HERE FOR USER TESTIN */
body > * > * {
  padding: 8px;
}

.mdc-floating-label {
  position: inherit !important;
}

#topic-course-container {
}

#logoutButton {
  float: "right";
}

LogoutButton {
  float: "right";
}
