.GraphTypePicker {
  width: 655px;
  display: table;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 20px;
}

.GraphTypePicker .tab-content {
  padding: 8px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 20px;
}
