.styleIcon:hover {
  transform: scale(1.2);
}

.recurring-day-item {
  border-radius: 8px;
  padding: 4px 0;
}

.RegOfficeHours #buttons > * {
  margin-right: 8px;
}
.styleIcon{
  margin-right: 15px;
}
