body {
  all: initial;
}
form {
  width: 500px;
  background: white;
  padding: 20px 25px;
  margin: auto;
  margin-top: 30px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
form input,
form textarea {
  font: inherit;
  padding: 5px 5px;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 15px;
  box-sizing: border-box;
}
form button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 8px 35px;
  font-size: 12px;
  background: #888;
  color: white;
}
form label {
  color: #777;
  font-size: 11px;
  margin-bottom: 2px;
  display: block;
}

a,
button {
  color: teal;
  text-decoration: none;
  background: transparent;
  font-family: Roboto, sans-serif;
}

#target_email,
#subject {
  width: 250px;
}

#text {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
