body {
  display: table;
  margin: auto;
  width: 400px;
}

.StudentProfAppointmentTable {
  align-self: flex-start;
}

#react-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
}

#logoutButton {
  float: right;
}
