#eachDay {
  display: inline-block;
  vertical-align: top;
  margin: 30px;
}

#heading {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

#arrow {
  font-size: -webkit-xxx-large;
}
