.ProfessorNavBar {
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
  text-align: left;
}

.ProfessorNavBar > * {
  flex-shrink: 0;
}

#nav-topper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

@media only screen and (max-width: 999px) {
  #nav-topper {
    width: 100%;
  }
  .ProfessorNavBar {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  #tabs {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    margin: 0 0 10px 0;
    align-items: flex-start;
    align-self: auto !important;
  }
  #tabs > * {
    flex-shrink: 0;
  }
}
@media only screen and (min-width: 1000px) {
  .ProfessorNavBar {
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row;
  }
  #tabs {
    margin: 0 auto;
  }
}

#site-title {
  align-self: flex-start;
}

#tabs {
  align-self: stretch;
}

#tabs > * {
  margin: 5px 5px 0 5px;
}
