.Session {
  display: inline-block;
  padding: 8px;
  margin: 2px;
  border-radius: 6px;
  border: 2px solid transparent;
}

.Session * {
  display: inline;
}

.Session form > * {
  margin: 0 10px;
}

.Session .styleIcon {
  vertical-align: middle;
}

.Session-edited {
  background-color: lightyellow;
}

.Session-error {
  border-color: #ff5151;
  background-color: #ffe0e0;
}
