.SetWeeklyHourModule {
}

#module-root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#module-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 280px; /* kind of arbitrary*/
}

#module-right {
  display: flex;
  flex-direction: column;
  min-width: 294px; /* make this less scummy? 294 is expected session width */
}

#module-left #buttons > * {
  margin: 8px 8px 0 0;
}

#calendar-root {
  overflow: hidden;
  display: inline-block;
}
