.StudentProfAppointmentTable {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.day-letter {
  width: 30px;
  display: inline-block !important;
  text-align: right;
}

.day {
}

.day-session {
  margin: 5px !important;
  width: 170px; /* Hard coded measured width */
}

.day-sessions {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  max-width: 360px;
}
