.StudentInLineCard {
  margin: auto;
  padding: 3mm 1mm 1mm 1mm;
  width: 360px;
  text-align: center;
}

.StudentInLineCard #place-in-line {
  margin: 1mm;
  display: inline;
  /* font-weight: bold; */
}
.StudentInLineCard #place-info {
  max-width: 400px;
  /* font-weight: bold; */
}

.StudentInLineCard #action-buttons {
  padding-left: 220px;
  float: right;
}

.GetInLineCard {
  width: 300px;
  display: table;
  padding: 3mm 1mm 1mm 1mm;
}

.GetInLineCard #place-head {
  display: flex;
  align-items: baseline;
  text-align: center;
}

.GetInLineCard #place-in-line {
  /*  margin: 1mm;*/
  display: inline;
  flex: 0.5 0 auto;
  font-weight: bold;
  font-size: 300%;
}
.GetInLineCard #place-info {
  display: inline;
  text-align: center;
}

.GetInLineCard #action-buttons {
  float: right;
}
